# .env.local
NEXT_PUBLIC_PROJECT_URL=
APP_NAME=
DATABASE_URL=
BETTER_AUTH_SECRET=
RESEND_API_KEY=
EMAIL_SENDER=
OPENAI_API_KEY=
CLOUDFLARE_AGENT_URL=
YOLK_APP_URL=
YOLK_CLOUDFLARE_BRIDGE_SECRET=
SENTRY_PROJECT=
SENTRY_AUTH_TOKEN=
NEXT_PUBLIC_SENTRY_DSN=
NEXT_PUBLIC_POSTHOG_KEY=
